<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li class="nav-item">
                    <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="nav-link" target="_blank">Template From : Creative Tim</a>
                  </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{ test | date: "yyyy" }} <a href="https://github.com/imanshu15/sl-shop-info" class="font-weight-bold ml-1" target="_blank"> Imanshu Jayasinghe </a>
        </div>
    </div>
</footer>
