<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
      <app-sidebar></app-sidebar>
      <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-2.jpg)"></div>
  </div>
  <div class="main-panel">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>

        <app-footer></app-footer>
  </div> <div class="fixed-plugin">
    <div class="dropdown show-dropdown open show">
        <a href="#" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu show" x-placement="bottom-start" style="position: absolute; top: 41px; left: -231px; will-change: top, left;">
            <li class="header-title"> Sidebar Filters</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger active-color">
                    <div class="ml-auto mr-auto">
                        <span class="badge filter badge-purple" data-color="purple"></span>
                        <span class="badge filter badge-azure" data-color="azure"></span>
                        <span class="badge filter badge-green" data-color="green"></span>
                        <span class="badge filter badge-orange" data-color="orange"></span>
                        <span class="badge filter badge-danger active" data-color="danger"></span>
                    </div>
                    <div class="clearfix"></div>
                <div class="ripple-container"></div></a>
            </li>

            <li class="button-container">
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style cus-center" data-a2a-url="https://imanshu15.github.io/sl-shop-info/#/info" data-a2a-title="Finder">
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_whatsapp"></a>
                    <a class="a2a_button_linkedin"></a>
                    <a class="a2a_button_copy_link"></a>
                    <a class="a2a_button_facebook_messenger"></a>
                    </div>
            </li>

            <li class="button-container">
                <div class="row">
                <div class="col-md-5">
                    <a class="btn btn-info btn-warning" href="https://drive.google.com/file/d/1o08_-iq_WHrNM-EeGNd3t4ryzlYhCbCT/view?ths=true">
                        Groceries
                    </a>
                  </div>
                  <div class="col-md-5 cus-margin">
                    <a class="btn btn-info btn-danger" href="https://docs.google.com/spreadsheets/d/1EzmE5KNIzy2cOE1OZdW7wo6MfLDmAq72relB9mxnbgo/htmlview?usp=drivesdk&fbclid=IwAR3vgWmHMIVsgQJsKS_slxKrO4m_QRN7ZBTTQwYw-XIuguexB8lIoaIDk-U">
                        Pharmacies
                    </a>
                  </div>
                </div>
            </li>
            <li class="button-container text-center " routerLinkActive="active">
                <div>
                  <a class="btn btn-info btn-block" href="https://github.com/imanshu15/sl-shop-info">
                      Github
                  </a>
                </div>
            </li>
            <li class="button-container text-center" routerLinkActive="active">
              <div>
                <a class="btn btn-default btn-block" href="https://demos.creative-tim.com/material-dashboard-angular2/#/documentation/tutorial">
                    Creative Tim Templates
                </a>
              </div>
            </li>
        </ul>
    </div>
</div>
</div>