<div class="main-content">
    <div class="container-fluid">
        <div class="row">
   
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Online Grocery Shop Finder</h4>
                        <p class="card-category">Search through here</p>
                    </div>
                    <div class="card-body">
                            <div class="row top-mag-10">
                                <div class="col-md-4">
                                  <mat-form-field >
                                    <input type="text"
                                           placeholder="Select Area"
                                           matInput
                                           [formControl]="areaControl"
                                           [matAutocomplete]="auto1">
                                    <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" (optionSelected)='filterBy($event.option.value, "area")'>
                                      <mat-option *ngFor="let option of filteredAreaOptions | async" [value]="option">
                                        {{option}}
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                  <mat-form-field >
                                    <input type="text"
                                           placeholder="Select Items"
                                           matInput
                                           [formControl]="itemControl"
                                           [matAutocomplete]="auto2">
                                    <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" (optionSelected)='filterBy($event.option.value, "item")'>
                                      <mat-option *ngFor="let option of filteredItemOptions | async" [value]="option">
                                        {{option}}
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                  <mat-form-field>
                                    <input type="text"
                                           placeholder="Select Vendor"
                                           matInput
                                           [formControl]="vendorControl"
                                           [matAutocomplete]="auto3">
                                    <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" (optionSelected)='filterBy($event.option.value, "vendor")'>
                                      <mat-option *ngFor="let option of filteredVendorOptions | async" [value]="option">
                                        {{option}}
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button (click) = "onSearch()" class="btn btn-danger pull-right">Search</button>
                            <div class="clearfix"></div>

                        <div class="col-lg-12 col-md-12">
                          <div class="card">
                              <div class="card-header card-header-warning">
                                  <p class="card-category">Search results</p>
                              </div>
                              <div class="card-body table-responsive">

                                <div class="mat-elevation-z8">
                                  <mat-table [dataSource]="dataSource">
                                
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="area" width = "15%">
                                      <mat-header-cell *matHeaderCellDef > Area </mat-header-cell>
                                      <mat-cell *matCellDef="let element" data-label="area"> {{element.area}} </mat-cell>
                                    </ng-container>
                                
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="items" width = "20%">
                                      <mat-header-cell *matHeaderCellDef> Items </mat-header-cell>
                                      <mat-cell *matCellDef="let element" data-label="items"> {{element.items}} </mat-cell>
                                    </ng-container>
                                
                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="vendor" width = "15%">
                                      <mat-header-cell *matHeaderCellDef> Vendor </mat-header-cell>
                                      <mat-cell *matCellDef="let element" data-label="vendor"> {{element.vendor}} </mat-cell>
                                    </ng-container>
                                
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="contact" width = "25%">
                                      <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
                                      <mat-cell *matCellDef="let element" data-label="contact"> 

                                        <span   matTooltip="Click to copy" *ngIf = "element.contact && element.contact.length > 0" [cdkCopyToClipboard]="element.contact">
                                          <img src="https://img.icons8.com/android/16/000000/phone.png"/>
                                          <img *ngIf="element.sms" src="https://img.icons8.com/android/16/000000/sms.png"/>
                                          <img *ngIf="element.whatsapp" src="https://img.icons8.com/officexs/16/000000/whatsapp.png"/>
                                          <img *ngIf="element.viber" src="https://img.icons8.com/color/16/000000/viber.png"/>
                                           {{element.contact.join(', ')}}
                                        </span>
                                        <span matTooltip="Click to copy" *ngIf="element.email && element.email != ''"  [cdkCopyToClipboard]="element.email">
                                          <img src="https://img.icons8.com/nolan/16/email.png"/>
                                          {{element.email}} 
                                        </span>
                                        <span matTooltip="Click to copy" *ngIf="element.website && element.website != ''"  [cdkCopyToClipboard]="element.website">
                                          <img src="https://img.icons8.com/office/16/000000/copy-link.png"/>
                                          {{element.website}} 
                                        </span>
                                        <span matTooltip="Click to copy" *ngIf="element.contactComment && element.contactComment != ''"  [cdkCopyToClipboard]="element.website">
                                          <img src="https://img.icons8.com/ultraviolet/16/000000/comments.png"/>
                                          {{element.contactComment}} 
                                        </span>
                                     
                                      </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="comments" width = "25%">
                                      <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
                                      <mat-cell *matCellDef="let element" data-label="comment"> {{element.comments}} </mat-cell>
                                    </ng-container>
                                
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                  </mat-table>
                                
                                  <mat-paginator [pageSizeOptions]="[8, 20, 30]" showFirstLastButtons></mat-paginator>
                                </div>

                                  <!-- <table class="table table-hover">
                                      <thead class="text-warning">
                                          <th>Area</th>
                                          <th>Items</th>
                                          <th>Vendor</th>
                                          <th>Contact</th>
                                          <th>Comment</th>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>1</td>
                                              <td>Dakota Rice</td>
                                              <td>$36,738</td>
                                              <td>Niger</td>
                                          </tr>
                                          <tr>
                                              <td>2</td>
                                              <td>Minerva Hooper</td>
                                              <td>$23,789</td>
                                              <td>Curaçao</td>
                                          </tr>
                                          <tr>
                                              <td>3</td>
                                              <td>Sage Rodriguez</td>
                                              <td>$56,142</td>
                                              <td>Netherlands</td>
                                          </tr>
                                          <tr>
                                              <td>4</td>
                                              <td>Philip Chaney</td>
                                              <td>$38,735</td>
                                              <td>Korea, South</td>
                                          </tr>
                                      </tbody>
                                  </table> -->
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  